
.banner button{
    background-color: var(--blue);
    color: var(--white);
    border: none;
}


@media screen and (max-width:796px) {
    main {
        row-gap: 10vh;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        row-gap: 3vh;
    }

    .banner img {
        width: 20em;
    }

    .banner h1 {
        font-family: 'Fredoka', sans-serif;
        color: var(--dark-brown);
        font-size: 3.6em;
        text-align: center;
    }

    .banner p {
        width: 80%;
        font-size: 1.4em;
        text-align: center;
        color: var(--orange);
        line-height: 1.5;
    }

    .banner button {
        width: 50%;
        padding: 2vh;
        border-radius: 0.4em;
    }

    .scrolla {
        flex-direction: column;
        row-gap: 4vh;
        width: 90%;
    }

    .scrolla h2 {
        color: var(--dark-brown);
        font-family: 'Fredoka', sans-serif;
        text-align: center;
        font-size: 2em;
    }

    .callToAction {
       row-gap: 4vh;
       padding: 4vh;
       position: relative;
    }

    .callToAction h2{
        font-size: 2em;
    }


    .callToAction a {
        width: 30%;
        height: 2vh;
        padding: 1vh;
        border-radius: 0.5em;
        z-index: 1;
        font-size: 0.8em;
    }

    .callToAction i {
        color: var(--white);
    }


}