

main h3, main h1, .fa-paw {
    font-family: "Fredoka";
    color: var(--dark-brown);
}

a {
    text-decoration: none !important;
}

label {
    color: var(--brown);
}

.btn-primary {
    background: var(--blue) !important;
    border: 1px solid var(--blue) !important;
    color: var(--white) !important;
}

input, textarea {
    border: 1px solid var(--orange) !important;
}

ul{
    margin: 0 !important;
    padding: 0 !important;
}

#information p,
#information i {
    color: var(--brown);
}

#information > div {
    display: flex;
    flex-direction: column;
}

main section{
    width: 80%;
}

main article {
    width: 100%;
}

#faqs button{
    color: var(--dark-brown);
}

.accordion-button:not(.collapsed){
    background-color: var(--beige) !important;
    border: 1px solid var(--beige) !important;
    box-shadow: 1px 1px 2px var(--beige) !important;
    color: var(--dark-brown) !important;
}

.accordion-button:focus{
    border: 1px solid var(--beige) !important;

}

@media screen and (max-width:796px) {
    main {
        row-gap: 6vh;
    }
    .formInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 6vh;

    }

    main h1 {
        font-size: 2.4em;
    }

    main h3 {
        font-size: 1.6em;
    }

    #information{
        display: flex;
        justify-content: space-between;
    }

    .infoBox {
        row-gap: 2vh;
    }

    #information i,
    #information p {
        font-size: 1.2em;
    }
}

@media  screen and (min-width:769px) and (max-width:1023px) {
    main {
        row-gap: 6vh;
    }

    .formInfo{
        display: flex;
        width: 90%;
    }

    main h1 {
        font-size: 3.6em;
    }

    main h3 {
        font-size: 2.6em;
    }

    .form input[type=text],
    .form input[type=email] {
        padding: 1.2em;
    }

    .form input[type=checkbox]{
        padding: 0.8em;
        margin-right: 0.8em;
    }

    textarea {
        height: 8em;
    }

    .form label{
        font-size: 1.6em;
    }

    textarea::placeholder {
        font-size: 1.2em;
    }

    .btn-primary {
        width: 30%;
        font-size: 1.4em !important;
    }

    #information{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    #information p{
        font-size: 1.6em;
    }

    .infoBox {
        row-gap: 2vh;
    }

    #faqs h2 {
        border-bottom: 1px solid var(--brown);
    }
    
    #faqs button{
        font-size: 0.8em;
    }

    .accordion-body{
        font-size: 1.4em;
    }

}


@media  screen and (min-width:1024px) {
    main {
        row-gap: 10vh;
    }

    .formInfo{
        display: flex;
        width: 90%;
    }

    main h1 {
        font-size: 3.6em;
    }

    main h3 {
        font-size: 2.6em;
    }

    .form input[type=text],
    .form input[type=email] {
        padding: 1.2em;
    }

    .form input[type=checkbox]{
        padding: 0.8em;
        margin-right: 0.8em;
    }

    textarea {
        height: 8em;
    }

    .form label{
        font-size: 1.6em;
    }

    textarea::placeholder {
        font-size: 1.4em;
    }

    .btn-primary {
        width: 30%;
        font-size: 1.6em !important;
        padding: 1.4vh 0 !important;
    }

    #information{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    #information p{
        font-size: 1.6em;
    }

    .infoBox {
        row-gap: 2vh;
    }

    #faqs{
        width: 40%;
    }

    #faqs h2 {
        border-bottom: 1px solid var(--brown);
    }
    
    #faqs button{
        font-size: 0.8em;
    }

    .accordion-body{
        font-size: 1.4em;
    }

    .accordion-body{
        font-size: 1.6em;
    }
}