
body{
    background-color: var(--white) !important;
    padding-top: 10em;
}

header a {
    text-decoration: none !important;
}

main {
    row-gap: 10em;
    padding-bottom: 10em;
}

main section{
    width: 80%;
}

main article {
    width: 100%;
}

main h3, main h1, .fa-paw {
    font-family: "Fredoka";
    color: var(--dark-brown);
}


main h1 {
    font-size: 3.6em;
}

main h3{
    font-size: 1.6em;
}



/* Form */
label {
    color: var(--brown);
}

.btn-primary {
    background: var(--blue) !important;
    border: 0.1em solid var(--blue) !important;
    color: var(--white) !important;
}

input, textarea {
    border: 0.1em solid var(--orange) !important;
}

ul{
    margin: 0 !important;
    padding: 0 !important;
}

.formInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6em;
    width: 70%;
}


/* Imformation */
#information{
    display: flex;
    justify-content: space-between;
}

#information p,
#information i {
    color: var(--brown);
    font-size: 1.2em;

}

#information > div {
    display: flex;
    flex-direction: column;
}

.infoBox{
    row-gap: 2em;
}


/* Map */
#map {
    width: 100%;
    height: 40em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    width: 90%;
    height:30em;
}

/* FAQs */

#faqs {
    width: 70%;
}
#faqs button{
    color: var(--dark-brown);
    font-size: 0.6em;
}

.accordion-body{
    font-size: 1em;
}

.accordion-button:not(.collapsed){
    background-color: var(--beige) !important;
    border: 0.1em solid var(--beige) !important;
    box-shadow: 0.1em 0.1em 0.2em var(--beige) !important;
    color: var(--dark-brown) !important;
}

.accordion-button:focus{
    border: 0.1em solid var(--beige) !important;
}

#faqs h2 {
    border-bottom:0.1em solid var(--brown);
}




@media screen and (max-width:796px) {
    html {
        font-size: 10px;
    }


}

@media  screen and (min-width:769px) and (max-width:1023px) {
    html {
        font-size: 14px;
    }  

}


@media  screen and (min-width:1024px) {
    html{
        font-size: 16px;
    }

    .formInfo{
        flex-direction: row;
        justify-content: space-between;
    }

    #information{
        justify-content: space-around;
    }
    
}