


/* Scroll GSAP */
* {
    box-sizing: border-box;
    padding: 0;
  }

  body, html {
    margin: 0;
  }
 
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5em;
  }
  body{
    padding-top: 5em;
  }

  /* Custom Cursor */

  body{
    cursor: none;
  }


  

/* banner */
.banner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.6em;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.banner article {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.banner h1 {
    font-family: 'Fredoka', sans-serif;
    color: var(--dark-brown);
    text-align: center;
    font-size: 4em;
    line-height: 1.2;
}

.star{
    width: 3em;
    z-index: 1;
    position: absolute;
    top:-1em;
    right: -1.2em
 }


.bannerImg {
    width: 20em;
}

.banner button{
    background-color: var(--blue);
    border: none;
    width: 50%;
    padding: 1em;
    border-radius: 0.5em;
}
.banner button:hover,
.callToAction a:hover {
    background-color: var(--orange);
}

.banner a {
    color: var(--white);
}

.banner p {
    text-align: center;
    color: var(--orange);
    line-height: 1.4;
    width: 90%;
    font-size: 1.2em;
    text-transform: none;
}

.banner .st0{
    fill: var(--orange);
}

/* GSAP Slide */
.slides {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .slides .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slides .slide {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .slide .background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    will-change: transform;
    background-size: cover;
  }
  
  .slide .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    text-align: center;
    width: 90%;
    padding: 3rem;
    margin: 0 auto;
    box-sizing: border-box;
    /* max-width: 40rem; */
    position: relative;
    align-items: center;
    color: white;
    font-size: 4.6rem;
    line-height: 1.25em;
    font-weight: 500;
  }

/* Counter */
.counterBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4em;
    height: 80vh;
}
.counterBox article{
    display: flex;
    align-items: center;
}

.counterBox div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.counterBox i {
    font-size: 1.4em;
    color: var(--orange);
    row-gap: 0.5em;
}

.counterBox p {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    color: var(--dark-brown);
}

/* Scrolla */
.scrolla {
    background-color: var(--beige);
    flex-direction: column;
    row-gap: 2em;
    width: 100%;
    position: relative;
}

.scrolla h2,
#swiper h2,
#swiper h3,
.counterBox strong,
.dragBox strong {
    color: var(--dark-brown);
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: 2em;
}

.boxes {
    row-gap: 2em;
}

.footprint{
    position: absolute;
    width: 4em;
}

.footprint .st0{
    fill: var(--dark-brown);
}

.footprint:nth-child(1){
    top: 1%;
    right: 8%;
}

.footprint:nth-child(2){
    top: 20em;
    right: 8%;
}

.footprint:nth-child(3){
    bottom: 20%;
    left: 8%;
}

.footprint:nth-child(4){
    bottom: 10%;
    right: 8%;
}

/* Drag and Dropdown */
.dragBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 3em;
    height: 50vh;
}

.dragBox i {
    color: var(--dark-brown);
}

.dragBox p,
.dragBox p i {
    color: var(--orange);
    font-size: 1.2em;
}

.dragBox article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 1em;
    border-radius: 1em;
    background-color: var(--blue) !important;
    position: relative;
}

.dragBox img {
    width: 5em;
}

.dragCat{
    z-index: 1;
}

.dragHouse, .heart{
    position: absolute;
    right: 0;
}

.heart {
    opacity: 0;
}



/* Call to Action */
.callToAction h2, 
.callToAction p,
.callToAction a {
    color: var(--white);
    text-align: center;
    line-height: 1.4;
}

.callToAction {
    flex-direction: column;
    justify-content: center;
    position: relative;
    row-gap: 4vh;
    height: 80vh;
}

.cta::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.callToAction h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 0.6em;
}

.callToAction p {
    width: 90%;
    font-size: 0.3em;
    text-transform: none;
}

.callToAction a {
    background-color: var(--blue);
    font-size: 0.2em;
    padding: 1.4em;
    border-radius: 0.5em;
}


.callToAction i {
    color: var(--white);
    font-size: 1em;

}



/* Mobile */
@media screen and (max-width:768px) {
    html {
        font-size: 10px;
    }
    
    .counterBox article{
        flex-direction: column;
        row-gap: 8em;
    }

}

/* Tablet */
@media screen and (min-width:769px)and (max-width: 1023px) {
    html{
        font-size: 14px;
    }

    .counterBox article{
        column-gap: 8em;
    }

}

/* Desktop */
@media screen and (min-width:1024px) {
    html{
        font-size: 18px;
    }


    .banner{
        flex-direction: row !important;
    }

    .counterBox article{
        column-gap: 8em;
    }

    .scrolla{
        padding: 10em 25em;
    }

  
}