
.banner article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner h1 {
    font-family: 'Fredoka', sans-serif;
    color: var(--dark-brown);
    text-align: center;
}

.banner button{
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

.banner p {
    text-align: center;
    color: var(--orange);
    line-height: 1.5;
}
.scrolla {
    flex-direction: column;
}

.scrolla h2 {
    color: var(--dark-brown);
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

.callToAction h2, .callToAction p {
    color: var(--white);
}
.callToAction {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
    position: relative;
 }

 .callToAction::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.callToAction h2{
    font-family: 'Fredoka', sans-serif;
    z-index: 1;
    text-align: center;
}

.callToAction p {
    width: 80%;
    text-align: center;
    line-height: 1.5;
    z-index: 1;
}

 .callToAction a {
    background-color: var(--blue);
    text-align: center;
    z-index: 1;
    color: var(--white);
}


.callToAction i {
    color: var(--white);
}

@media screen and (max-width:768px) {
    main {
        row-gap: 10vh;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        row-gap: 3vh;
    }

    .banner img {
        width: 20em;
    }

    .banner h1 {
        font-size: 3.6em;
    }

    .banner p {
        width: 80%;
        font-size: 1.4em;
    }

    .banner button {
        width: 50%;
        padding: 2vh;
        border-radius: 0.4em;
    }

    .scrolla {
        flex-direction: column;
        row-gap: 4vh;
        width: 90%;
    }

    .scrolla h2 {
        font-size: 2em;
    }

    .callToAction {
       row-gap: 4vh;
       padding: 4vh;
    }

    .callToAction h2{
        font-size: 2em;
    }


    .callToAction a {
        width: 30%;
        height: 2vh;
        padding: 1vh;
        border-radius: 0.5em;
        z-index: 1;
        font-size: 0.8em;
    }

}

@media screen and (min-width:769px)and (max-width: 1023px) {

    main {
        row-gap: 8vh;
    }


    .banner img {
        width: 25em;
    }
    
    .banner {
        width: 90%;
        justify-content: space-between;
    }

    .banner article {
        width: 60%;
        row-gap: 1vh;
    }

    .banner h1 {
        font-size: 3.6em;

    }

    .banner p {
        font-size: 1.6em;
    }

    .banner button {
        width: 50%;
        padding: 1vh;
        border-radius: 1em;
    }

    .scrolla {
        row-gap: 4vh;
        width: 90%;

    }

    .scrolla h2 {
        font-size: 2.8em;
    }

    .boxes {
        row-gap: 2vh;
    }

    .callToAction {
        height: 40em;
        row-gap: 2vh;
    }

    .callToAction h2 {
        font-size: 3em;
    }

    .callToAction p {
        font-size: 2em;
    }

    .callToAction a {
        padding: 1vh 1.2vh;
        font-size: 1.6em;
        border-radius: 0.6em;
    }
}

@media screen and (min-width:1024px) {

    main {
        row-gap: 12vh;
    }


    .banner img {
        width: 35em;
    }
    
    .banner {
        width: 80%;
        justify-content: space-around;
    }

    .banner article {
        width: 60%;
        row-gap: 2vh;
    }

    .banner h1 {
        font-size: 4em;

    }

    .banner p {
        width: 60%;
        font-size: 1.4em;
    }

    .banner button {
        width: 30%;
        padding: 1vh;
        border-radius: 1em;
    }

    .scrolla {
        row-gap: 4vh;
        width: 50%;

    }

    .scrolla h2 {
        font-size: 2.8em;
    }

    .boxes {
        row-gap: 2vh;
    }

    .callToAction {
        height: 60em;
        row-gap: 2vh;
        background-position: 0 30%;
    }

    .callToAction h2 {
        font-size: 4em;
    }

    .callToAction p {
        width: 50%;
        font-size: 1.8em;
    }

    .callToAction a {
        padding: 1vh 1.8vh;
        font-size: 1.6em;
        border-radius: 0.6em;
    }
}