body{
    padding-top: 10em;
}

header {
    width: 95%;
    border: 1px solid red;
}

main{
    row-gap: 4em;
    padding-bottom: 10em;
}

.fa-chevron-left{
    border-radius: 50%;
    color: var(--dark-brown);
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

/* Top */
#top {
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 0.8em;
}

#top div{
    display: flex;
    justify-content: space-between;
}

#top h1,#top p {
    text-align: right;
    font-family: "Fredoka";
    color: var(--dark-brown);
}

#top h1{
    font-size: 2.8em;
}

#top p{
    font-size: 1.6em;
}

.search {
    border: 1px solid var(--dark-brown);
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    padding: 1em 1.1em;
}

.search input{
    background-color: transparent;
    border: none;
}

.search input:focus{
    outline: none;
}

.search input::placeholder, .search i{
    color: var(--dark-brown);
    font-size: 1.2em;
}

.filterIcon{
    width: 2em !important;
}

/* Categories */
#categories {
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 1vh;
}

#categories div{
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 1em;
}

#categories p{
    font-weight: bold;
    color: var(--dark-brown);
    font-size: 1.2em;
}

.categoryP {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--dark-brown);
    font-weight: bold;
    cursor: pointer;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    row-gap: 0.5em;
    border-radius: 0.8em;
}

.categoryP:active {
    background-color: var(--orange);
}


.categoryP span{
    color: var(--dark-brown);
    height: 1em;
}

.categoryP img{
    width: 70%;
    height: 3em;
    object-fit: contain;
}

/* Items */
#items{
    width:100%;
    border: 1px solid red;
}

#items > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2vh;
    row-gap: 2vh;
    width: 100%;
}

#card {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 2vh;
    border-radius: 1em;
    row-gap: 0.5vh;
}

#card article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card img{
    width: 100%;
    border-radius: 1em;
}

#card h3, .fa-mars, .fa-venus {
    color: var(--dark-brown);
    font-family: "Fredoka";
}

#card h3{
    font-size: 1.8em;

}

.fa-heart {
    color: var(--blue);
    cursor: pointer;
    font-size: 1.5em;
}

#card p, .fa-location-dot {
    color: var(--brown);
    font-size: 1em;
}

/* Modal */
.modal div, .modal{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

#ex1 {
    width: 60em !important;
    padding: 2em;
}

.modal div{
    margin-bottom: 3vh;
    width: 100% !;
    row-gap: 0.5em;
}

.blocker {
    background-color: rgba(0, 0, 0, 1) !important; 
    padding: 12em 0 !important;

}

.modal h3 {
    color: var(--dark-brown);
    font-family: "Fredoka";
    font-size: 1.6em;
}

.modal article{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;

}

.modal span{
    background-color: var(--brown);
    color: var(--white);
    text-align: center;
    width: 100%;
    padding: 1vh;
    border-radius: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
}

.modal a {
    border-radius: 2em;
    text-transform: uppercase;
    padding: 0.5em 1.2em;

}

.modal h2{
    color: var(--dark-brown);
    font-family: "Fredoka";
    font-size: 2.2em;

}

.closeBtn, .clearBtn {
    border: 1px solid var(--dark-brown);
    color: var(--dark-brown);
}

.applyBtn {
    background-color: var(--blue);
    color: var(--white);
}

span.all{
    width: 100%;
}



@media screen and (max-width:796px) {
    html {
        font-size: 10px;
    }

}


@media  screen and (min-width:769px) and (max-width:1023px) {
    html{
        font-size: 14px;
    }

    #top{
        align-items: flex-start;
    }

    .fa-chevron-left{
        display: none !important;
    }
   
}


@media  screen and (min-width:1024px) {
    html{
        font-size: 16px;
    }

    #top{
        align-items: flex-start;
    }

    .fa-chevron-left{
        display: none !important;
    }

    .search {
        width: 30%;
    }

    #categories div:first-child{
        flex-direction: column-reverse;
        align-items: flex-start;
        row-gap: 2vh;
    }

    #categories div:nth-child(2){
        justify-content: left;
        column-gap: 1vh;
    }

   
    .categoryP:hover {
        background-color: var(--orange);
    }

    #card {
        width: 20%;
    }
}